.container{
    display: grid;
    border: 1px solid;
    height:max-content;
    grid-template-areas: 'a a b b'
                         'a a b b'
                         'c c d d'
                         'c c d d';
                    
                        

    background-color:aliceblue;
    
}
.container > div{
    border: 1px solid;
    background-color:aliceblue;
    text-align: center;
    padding: 20px;
    font-size: 20;
  

}

.a{
    grid-area: a;
    
}
.b{
    grid-area: b;
    
}
.c{
    grid-area: c;
}

.d{
    grid-area: d;
}

