.container{
    display: flex ;
    flex-direction: column;
    
    flex-wrap: wrap;
    justify-content: flex-start;
}


.container > div{

    background-color:aliceblue;
    width: 200px; 
    margin: 10px;
    border:1px solid red;
    text-align: center;
    font-size: 30px;

    /* flex-direction: row; */
    /* display: inline; */
    /* flex-wrap: 2; */


}
.four{
    flex-grow: 4;

}
