/* .container{
    border:1px solid red;
    width: 200px;
    height:150;
    font-size: 40pc;
    background-color: aquamarine;

}
.box{
   display:inline;
   border:1px solid red;
    width: 10pc;
    height: 10;
    font-size: 20pc;
    
}
.two{
    position:absolute;
    top: 60px;
    left:80px;
}
.four{
    position: fixed;
    bottom: 0;
    right: 0;
} */