 /* #prct{
    background-color:blueviolet;
    color:aliceblue;
    font-size:small;
    text-align: center;
    text-transform:capitalize;
    text-decoration:underline;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: -5px;
    text-shadow: 2px 2px 5px red;
    font-style: italic;
}


div:link{
    color:red;

}
div:visited{
    color:green;

}
div:hover{
    color:hotpink

}
div:active{
    color:blue;

}
ol{
    list-style-type:square;
    list-style-position:unset;
    background:#ff9999 ;
    padding: 20px;

} 
ul{
    list-style-type:circle;
    list-style-position: outside;
    background:#ff9999 ;
    padding: 20px;

}
 
  .test1{
     background-color: aqua;
 }
 .test2{
     font-size: larger;
 } */
 .test1.test2{
    text-align: center;
     font-size: medium;
 }
 .test1 .test2{
   
    font-size: medium;
    text-align: center;
} 
h1.test3{
    background-color: blue;
    font-size: medium;
    text-align: center;
    border-radius: 2px;
}
div>p{
    background-color:chartreuse;
} 
/* div h1{
    background-color: blue;
    font-size: medium;
    text-align: center;
} */
/* div >h1{
    background-color: blue;
    font-size: medium;
    text-align: center;

} */
div+h1{

    background-color: blue;
    font-size: medium;
    color:blueviolet;
    text-align: center;

}
p.test1{
    color: blue;
    text-align: center;
    
}




