body{
    background-color: bisque ;
    
}
#allPart{
    border: 4px solid gray;
    height: 952px;
    width: 920px;
    margin-left: 300px;
}
h3{
    margin-left: 300px;
}
h2{
    
    text-shadow: 2px 2px  gray;
    padding-left: 700px;
    font-size: 30px;
    letter-spacing: 1px;
   
}
#rightDiv{
  
    
    border: 1px solid rgba(106, 142, 35, 0.657);
    width: 300px;
    height: 940px;
    font-size: 9px;
    background-color:rgba(106, 142, 35, 0.657);
    float: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

 #group1{
    float: left;
  font-size: 11px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 950px;
 
    
 }
 #groupOneL{
     margin-left: 0px;
     float: left;
     width: 200px;
 }
 #rightGroupP{
    float:right;
    width: 200px;

    margin-left: 10px;
    
}
 .mainp{
     margin-top: 100px;
     border: 3px solid gray;
     width: 200px;
     height: 90px;
     font-size: smaller;
   background-color:rgba;
   border-radius: 15px;
   padding-left: 20px;
      
     }

.shortp{
        margin-left: 10px;
        border: 2px solid gray;
        width: 260px;
        height: 30px;
      background-color:rgba(250, 250, 210, 0.25);
      border-radius: 35px;
      padding: 10px;
         
        }
     .subp{
        padding-left: 30px;
    }
     
 
 .parImg{
     width: 20px;
     height: 20px;
     
 }
 