/* .container{
    display: grid;
    border: 1px solid;
    grid-template-areas: 'one one two two'
    'one one three four';
    grid-gap: 10px;
    background-color:aliceblue;
    padding: 10px;

    

}
.container > div{
    border: 1px solid;
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
    font-size: 20;
}
.one{
    grid-area: one;

}
.two{
    grid-area: two;
} */
/* .three{
    grid-area: two;
}
.four{
    grid-area: two;
} */

.container{
    display: grid;
    border: 1px solid;
    grid-template-areas: 'one two two two'
    'one three three four' 
    'five five six four' 'five five six four';
   
    grid-gap: 10px;
    background-color:aliceblue;
    padding: 10px;
}
.container > div{
    border: 1px solid;
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
    font-size: 20;

}
.one{
 grid-area: one;
}
.two{
    grid-area: two;
    border: 1px solid;
    /* background-color: blueviolet;
    text-align: center;
    padding: 20px;
    font-size: 20; */
}
.three{
    grid-area: one;
   }

.four{
grid-area: one;
}
.five{
    grid-area: one;
    }

.six{
    grid-area: one;
    }