#wrapper{
    width: 800px;
    height: 1800px; 
    background-color:grey;
    
}
#header{
    color:cornflowerblue;
    font-size:xx-large 
}
.subheader{
    margin-top: 20;
    color:antiquewhite;
    font-size:medium
    
}
.title{
    margin-top: 20;
    color:dodgerblue;
    font-size:larger
    
}
.itemList{
    color:aliceblue;
    font-style:normal;
    font-size:medium;
    
}


.span{
    color:yellow
}
.twoPicture{
    color:aliceblue;
    font-style:normal;
    font-size:medium;
    padding-top: 300px;
    border:2px;
    width:40px;
    float: left
}
.picture{
    height: 30px; 
    border:2px;
    float: left
   
}
.picture1{
    height: 190;
}
#footer{
    color:aliceblue;
    font-style:normal;
    font-size:medium;
    padding-top: 80px;
    
}